$columns: 12;
$gutter: 15px;
$max-width: 750px;
$breakpoint-large: 1000px;
$breakpoint-medium: 500px;

.container {
  max-width: $max-width;
  margin: auto;
}

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.row {
  @extend .clearfix;
  width: calc(100% + #{$gutter});
  margin-left: -#{$gutter};
  &.equal {
    width: 100%;
    margin-left: auto;
  }
}

@function grid($frac: 1, $gut: $gutter) {
  @return calc(99.99% * #{$frac} - #{$gut});
}

@for $i from 1 through $columns {
  .small-#{$i} {
    float: left;
    width: grid($i/$columns);
    margin-left: $gutter;
  }
}

.gutless {
  width: 100%;
  margin-left: auto;
}

@for $i from 1 through $columns {
  .gutless {
    > .small-#{$i} {
      width: calc(100% * #{$i}/#{$columns});
    }
  }
}

@media (min-width: $breakpoint-medium) {
  @for $i from 1 through $columns {
    .medium-#{$i} {
      float: left;
      width: grid($i/$columns);
      margin-left: $gutter;
    }
  }
}

@media (min-width: $breakpoint-medium) {
  @for $i from 1 through $columns {
    .gutless {
      > .medium-#{$i} {
        width: calc(100% * #{$i}/#{$columns});
      }
    }
  }
}

@media (min-width: $breakpoint-large) {
  @for $i from 1 through $columns {
    .large-#{$i} {
      float: left;
      width: grid($i/$columns);
      margin-left: $gutter;
    }
  }
}

@media (min-width: $breakpoint-large) {
  @for $i from 1 through $columns {
    .gutless {
      > .large-#{$i} {
        width: calc(100% * #{$i}/#{$columns});
      }
    }
  }
}

.gutless {
  > * {
    margin-left: 0;
  }
}

// Based off of work by Daniel Box - http://codepen.io/dbox/pen/pJrROo
@mixin equal($gut: $gutter, $max-items: $columns) {
  @extend .clearfix;

  @for $i from 1 through $max-items {
    > *:nth-last-child(#{$i}):first-child,
    > *:nth-last-child(#{$i}):first-child ~ * {
      width: calc(100 / #{$i} * 1% - #{$gut} * (#{$i} - 1) / #{$i});
      margin-right: $gut;
    }
  }

  > * {
    float: left;
    &:last-child {
      margin-right: 0 !important;
    }
  }
}

.equal {
  @include equal();
}

[class*="bg-"] {
  position: relative;
  > * {
    position: relative;
    z-index: 1;
  }
  &:before {
    position: absolute;
    display: block;
    width: calc(100% - #{$gutter});
    height: 100%;
    left: $gutter;
  }
}
