$columns: 12;
$gutter: 15px;
$max-width: 750px;
$breakpoint-large: 1000px;
$breakpoint-medium: 500px;

.container {
  max-width: $max-width;
  margin: auto;
}

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.row {
  @extend .clearfix;
  width: calc(100% + #{$gutter});
  margin-left: -#{$gutter};
  &.equal {
    width: 100%;
    margin-left: auto;
  }
}

@function grid($frac: 1, $gut: $gutter) {
  @return calc(99.99% * #{$frac} - #{$gut});
}

@for $i from 1 through $columns {
  .small-#{$i} {
    float: left;
    width: grid($i/$columns);
    margin-left: $gutter;
  }
}

.gutless {
  width: 100%;
  margin-left: auto;
}

@for $i from 1 through $columns {
  .gutless {
    > .small-#{$i} {
      width: calc(100% * #{$i}/#{$columns});
    }
  }
}

@media (min-width: $breakpoint-medium) {
  @for $i from 1 through $columns {
    .medium-#{$i} {
      float: left;
      width: grid($i/$columns);
      margin-left: $gutter;
    }
  }
}

@media (min-width: $breakpoint-medium) {
  @for $i from 1 through $columns {
    .gutless {
      > .medium-#{$i} {
        width: calc(100% * #{$i}/#{$columns});
      }
    }
  }
}

@media (min-width: $breakpoint-large) {
  @for $i from 1 through $columns {
    .large-#{$i} {
      float: left;
      width: grid($i/$columns);
      margin-left: $gutter;
    }
  }
}

@media (min-width: $breakpoint-large) {
  @for $i from 1 through $columns {
    .gutless {
      > .large-#{$i} {
        width: calc(100% * #{$i}/#{$columns});
      }
    }
  }
}

.gutless {
  > * {
    margin-left: 0;
  }
}

// Idea courtesy of Daniel Box
.equal {
  display: table;
  table-layout: fixed;
  width: calc(100% + (#{$gutter} * 2));
  border-spacing: $gutter 0;
  margin-left: -#{$gutter};
  margin-right: -#{$gutter};
  > * {
  	display: table-cell;
  }
}

[class*="bg-"] {
  position: relative;
  > * {
    position: relative;
    z-index: 1;
  }
  &:before {
    position: absolute;
    display: block;
    width: calc(100% - #{$gutter});
    height: 100%;
    left: $gutter;
  }
}
