@import '../../enno'

// Demo Styles

*
  margin: 0
  padding: 0
  font-family: sans-serif
  background: rgba(blue, .05)

.container
  margin-bottom: $gutter

.row, .equal
  div
    min-height: 50px
    line-height: 50px
    margin-bottom: $gutter
    text-align: center
    color: white

.small-12
  background: dodgerblue
  .small-12
    background: tomato

.bg-yellow
  &:before
    background: yellow

.bg-black
  &:before
    background: black
